<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dingtalk.h5app.quickstart.mapper.UserVotingCheckMapper">

    <resultMap id="BaseMapper" type="com.dingtalk.h5app.quickstart.DTO.UserVotingCheckDTO">
        <id column="id" property="id"/>
        <result column="vid" property="vid"/>
        <result column="userVotingCheck" property="userVotingCheck"/>
        <result column="userVotingStartTime" property="userVotingStartTime"/>
    </resultMap>

    <insert id="insertUserVoting" parameterType="com.dingtalk.h5app.quickstart.DTO.UserVotingCheckDTO"
            keyProperty="id" useGeneratedKeys="true">
        insert into userVotingCheck(vid,userVotingCheck,userVotingStartTime)
        values (#{vid},#{userVotingCheck},#{userVotingStartTime})
    </insert>

    <select id="findByUserId" resultMap="BaseMapper">
        select * from uservoting
        where userId = #{userId}
    </select>

    <select id="findByVid" resultMap="BaseMapper">
        select * from uservoting
        where vid = #{vid}
    </select>

<!--    findByUserIdAndVid-->
    <select id="findByUserIdAndVid" resultMap="BaseMapper">
        select * from uservoting
        where userId = #{userId} and vid = #{vid}
    </select>

<!--    findByUserVotingCheck-->
    <select id="findByUserVotingCheck" resultMap="BaseMapper">
        select userVotingCheck from userVotingCheck
        where  vid =#{vid} and userVotingCheck = #{userVotingCheck}
    </select>
</mapper>